@import '@fortawesome/fontawesome-free/css/all.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Dark mode text color adjustments */
.dark {
  color-scheme: dark;
}

@layer base {
  body {
    @apply text-misty-blue dark:text-baby-blue transition-colors duration-300;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply text-teal-green dark:text-baby-blue transition-colors duration-300;
  }
}